<nav class="nav navbar-expand-lg navbar-light bg-info" id="navbar">
    <div class="container">
        <h1 class="text-center" id="h1">Daily Water Enterprises</h1>
        <img src="../../../assets/images/Home/Book-Paani-Online-Logo-300x60.png" id="paani" />
        <div class="collapse navbar-collapse" id="titles">
            <img src="../../../assets/images/Home/thiru.gif" id="thiru" />
            <img src="../../../assets/images/Home/company.png" id="logo" />
            <!-- <img src="../../../assets/images/Home/catteg.png" id="catteg" /> -->
        </div>
    <div class="button1">
        <a routerLink="/home"><button mat-button >Home
            <mat-icon>home</mat-icon>
        </button></a>
        <a routerLink="/aboutus"><button mat-button >About Us
            <mat-icon>thumb_up_alt</mat-icon>
        </button></a>
        <button mat-button [matMenuTriggerFor]="register" >Register
            <mat-icon>assignment</mat-icon></button>
        <mat-menu #register="matMenu">
            <a routerLink="/premiummember"><button mat-menu-item>Premium Membership
                <mat-icon>grade</mat-icon>
            </button></a>
            <a routerLink="/generalmember"><button mat-menu-item>General Membership
                <mat-icon>account_circle</mat-icon>
            </button></a>
        </mat-menu>
        <a routerLink="/offerzone"><button mat-button >OfferZone
            <mat-icon>notifications_active</mat-icon>
        </button></a>
        <a routerLink="/shopping"><button mat-button >Shopping
            <mat-icon>shopping_cart</mat-icon>
        </button></a>
        <a routerLink="/contactus"><button mat-button >Contact Us
            <mat-icon>perm_phone_msg</mat-icon>
        </button></a>
        <a routerLink="/services"><button mat-button >Services
            <mat-icon> local_shipping</mat-icon>
        </button></a>
        <button mat-button [matMenuTriggerFor]="account">Account
            <mat-icon>account_box</mat-icon></button>
        <mat-menu #account="matMenu">
            <a routerLink="/"><button mat-menu-item>UserAcc
                <mat-icon>account_circle</mat-icon>
            </button></a>
            <a routerLink="/"><button mat-menu-item>
                <mat-icon> local_printshop</mat-icon>Statements</button></a>
                <a routerLink="/"><button mat-menu-item>Wallet
                <mat-icon>account_balance_wallet</mat-icon>
            </button></a>
        </mat-menu>
        <button mat-button class="bg-danger">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </div>
</div>


 </nav>
        
<!-- <div class="container1">
        <div class="row">
            <div class="col">
                <img src="../../../assets/images/Home/1..jpg" id="img1"/>
            </div>
        </div>
    </div> -->