<div class="container conbg">
    <div class="row">
        <div class="col-2 mt-4">
            <mat-card class="bg-warning">
                <div class="catteg">
                    <h2>Cattegories</h2>
                    <section class="example-section">
                        <mat-checkbox class="example-margin">300 Ml</mat-checkbox>
                        <mat-checkbox class="example-margin">500 ml </mat-checkbox>
                        <mat-checkbox class="example-margin">600 ml </mat-checkbox>
                        <mat-checkbox class="example-margin">1 litter </mat-checkbox>
                        <mat-checkbox class="example-margin">2 litters</mat-checkbox>
                        <mat-checkbox class="example-margin">5 litters</mat-checkbox>
                        <mat-checkbox class="example-margin">10 litters </mat-checkbox>
                        <mat-checkbox class="example-margin">20 litters </mat-checkbox>
                    </section>
                    <button mat-raised-button color="accent">Order</button>
                </div>

                <div class="catteg"><br>
                    <h1><b><u>Products</u></b></h1>
                    <mat-radio-group>
                        <mat-radio-button>Go Green</mat-radio-button>
                        <mat-radio-button>Bisleri</mat-radio-button>
                        <mat-radio-button>Perrier</mat-radio-button>
                        <mat-radio-button>AQUAFINA</mat-radio-button>
                        <mat-radio-button>Kinly</mat-radio-button>
                        <mat-radio-button>AquaGreen</mat-radio-button>
                    </mat-radio-group>
                </div>
                <button mat-raised-button class="bg-primary">Apply</button>
            </mat-card>
        </div>
        <div class="col-3 mt-4 ">
            <mat-card class="img">
                <!-- <img mat-card-image src="../../../assets/images/Products/20-litter.jpeg" [src]="imgSrc" alt="20-litters Jar Combo"> -->
                <!-- {{image}} -->
        <img [src]="image" alt="{{ title }}" />

            </mat-card>
        </div>
        <div class="col mt-4">
            <h3 class="protitle">
                <!-- Kinley 20 Litre jar Packaged Drinking Water -->
                {{title}}
            </h3>
            <div class="row mt-4">
                <div class="col-3" id="offer">Offer</div>
                <div class="col-4 price">Price</div>
            </div>
            <div class="row mt-4">
                <div class="col" id="cost1">{{offer}}</div>
                <div class="col" id="cost2"><s>{{price}}</s></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row mt-4">
                <div class="col-1">
                    <button mat-mini-fab color="accent" (click)="onincrement()">
                        <mat-icon>plus_one</mat-icon>
                    </button>
                    <!-- <button mat-raised-button class="bg-dark change" (click)="onincrement()">+</button> -->
                    <!-- <button mat-raised-button class="btn btn-dark btn-m" id="dec"
                                    onclick="ondecrement()">-</button> -->

                </div>
                <div class="col-2">
                    <!-- <mat-form-field class="count">
                                        <mat-label>Count</mat-label>
                                        <input matInput>
                                      </mat-form-field> -->
                    <!-- {{count}} -->
                    <input type="text" name="count" [(ngModel)]="count" class="form-control text-center text-dark"
                        id="count" />
                </div>
                <div class="col-1">
                    <button mat-mini-fab color="accent" (click)="ondecrement()">
                        <mat-icon>exposure_neg_1</mat-icon>
                        <!-- <b class="minus" >-1</b> -->
                        <!-- <mat-icon>plus_one</mat-icon> -->
                    </button>
                    <!-- <button type="button" class="btn btn-dark btn-m" id="dec"
                                        onclick="ondecrement()">-</button> -->
                </div>
            </div>
            <br>
            <a routerLink="/payment">
                <button mat-raised-button color="primary" (click)="buy()">Buy
                    <mat-icon>shopping_basket</mat-icon>
                </button></a>
            <br>
            <br>
            <h2>Product Info :</h2>
            <article class="proinfo">The 20 litre pack is ideal for home and office use and gives you great value for
                money. In terms of its usage, hygiene is best maintained with the push tap and stand
                mechanism.</article>
            <br>
            <h2>Deposit Info :</h2>
            <h6 class="deposit">INR 250 refundable deposit will be charged per jar if you do not
                have 20 Ltr empty jar for exchange.</h6>

        </div>
    </div>
</div>




<!-- <div>
    <h2>{{ title }}</h2>
    <img [src]="image" alt="{{ title }}" />
    <p>Offer: {{ offer }}</p>
    <p>Price: {{ price }}</p>
  </div> -->

