<!-- <div class="container" id="container">
    <div class="row mt-4">
        <div class="col">
            <mat-card class="card">
                <img mat-card-image src="../../../assets/images/Products/20-litter.jpeg" alt="20-litters Jar Combo">
                <mat-card-content>
                    <h3>20 Litters Jar </h3>
                    <div class="row">
                        <div class="col">
                            <label>Offer</label>
                        </div>
                        <div class="col">
                            <label>Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="Offer">45</label>
                        </div>
                        <div class="col">
                            <label class="price">60</label>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <span class="material-icons">shopping_cart</span> Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="card">
                <img mat-card-image src="../../../assets/images/Products/10-litters.webp" alt="20-litters Jar Combo">
                <mat-card-content>
                    <h3>20 Litters Jar</h3>
                    <div class="row">
                        <div class="col">
                            <label>Offer</label>
                        </div>
                        <div class="col">
                            <label>Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="Offer">40</label>
                        </div>
                        <div class="col">
                            <label class="price">50</label>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <span class="material-icons">shopping_cart</span> Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="card">
                <img mat-card-image src="../../../assets/images/Products/5-litters.png" alt="5-litters Jar Combo">
                <mat-card-content>
                    <h3>5 Litters Jar</h3>
                    <div class="row">
                        <div class="col">
                            <label>Offer</label>
                        </div>
                        <div class="col">
                            <label>Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="Offer">35</label>
                        </div>
                        <div class="col">
                            <label class="price">50</label>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <span class="material-icons">shopping_cart</span> Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="card">
                <img mat-card-image src="../../../assets/images/Products/3-litter.png" alt="3-litters Jar Combo">
                <mat-card-content>
                    <h3>3 Litters bottle</h3>
                    <div class="row">
                        <div class="col">
                            <label>Offer</label>
                        </div>
                        <div class="col">
                            <label>Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="Offer">30</label>
                        </div>
                        <div class="col">
                            <label class="price">45</label>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <span class="material-icons">shopping_cart</span> Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <mat-card class="card">
                <img mat-card-image src="../../../assets/images/Products/2-litter bisleri.webp" alt="2-litters">
                <mat-card-content>
                    <h3>2 Litters Bottle</h3>
                    <div class="row">
                        <div class="col">
                            <label>Offer</label>
                        </div>
                        <div class="col">
                            <label>Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="Offer">30</label>
                        </div>
                        <div class="col">
                            <label class="price">40</label>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <span class="material-icons">shopping_cart</span> Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="card">
                <img mat-card-image src="../../../assets/images/Products/1-litter-1.png" alt="1-litter" class="bg-info">
                <mat-card-content>
                    <h3>1-Litter Bottle</h3>
                    <div class="row">
                        <div class="col">
                            <label>Offer</label>
                        </div>
                        <div class="col">
                            <label>Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="Offer">25</label>
                        </div>
                        <div class="col">
                            <label class="price">35</label>
                        </div>
                    </div>
                    
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <span class="material-icons">shopping_cart</span> Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="card">
                <img mat-card-image src="../../../assets/images/Products/500-ml.jpg" alt="500Ml bottle">
                <mat-card-content>
                    <h3>500 ML Water Bottle</h3>
                    <div class="row">
                        <div class="col">
                            <label>Offer</label>
                        </div>
                        <div class="col">
                            <label>Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="Offer">15</label>
                        </div>
                        <div class="col">
                            <label class="price">30</label>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <span class="material-icons">shopping_cart</span> Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="card">
                <img mat-card-image src="../../../assets/images/Products/300-ml.jpg" alt="300Ml Bottle">
                <mat-card-content>
                    <h3>300 ML Mini Bottle</h3>
                    <div class="row">
                        <div class="col">
                            <label>Offer</label>
                        </div>
                        <div class="col">
                            <label>Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="Offer">10</label>
                        </div>
                        <div class="col">
                            <label class="price">20</label>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <span class="material-icons">shopping_cart</span> Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row"></div>
</div> -->


<div *ngIf="!patientReg">
    <div class="container-fluied">
        <div class="row">
            <mat-card *ngFor="let card of cards" class="matcard">
                <img mat-card-image [src]="card.image" alt="{{ card.title }}" class="mt-2" />
                <mat-card-header>
                    <mat-card-title class="title">{{ card.title }}</mat-card-title>
                </mat-card-header>
                <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col">
                        <mat-label class="offer">Offer<br>
                        </mat-label>
                        <h1 class="offeramount mt-2">{{card.offer}}</h1>
                    </div>
                    <div class="col">
                        <h3>Price<br>
                            <s>{{card.price}}</s>
                        </h3>
                    </div>
                </div>
                <mat-card-content>
                    <button mat-raised-button class="ms-4" (click)="addToCart(card)" color="primary">Add to Cart
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div *ngIf="patientReg">
        <app-add-to-cart 
        [title]="selectedCard.title"
        [image]="selectedCard.image" 
        [offer]="selectedCard.offer" 
        [price]="selectedCard.price">
         </app-add-to-cart>
      </div>
</div>

<!-- <div *ngIf="patientReg">
    <app-add-to-cart [title]="selectedCard.title" [image]="selectedCard.image" [offer]="selectedCard.offer" [price]="selectedCard.price"></app-add-to-cart>
  </div> -->