<div class="container mt-1 ">
    <!-- <img src="../../../assets/images/Home/aboutus2.png"class="aboutusimg"> -->
    <div class="row">
        <div class="col">
            <img src="../../../assets/images/Home/aboutus.jpg">
        </div>
        <div class="col aboutusimg">
            <p id="para" ><b>Who We Are...</b></p>
                    <p id="para1" class="text-primary" >   <b>DailyWater Entererprises</b> is a multi-brand bottled water delivery service that provides direct delivery to homes, businesses and retail locations.<br><br>

                    We offer an easy-to-shop website, mobile app, flexible delivery timings and convenient access to a variety of leading bottled water brands such as Bisleri, Aquafina, Kinley, Bailley, Good Minute and several other drinking water brands just a click away. <br><br>
                    
                    Customers can order their favourite water brands online and we reach our customers where they live, work and shop everyday.<br>
                    
                    Our mission at EverydaySure Water is to deliver healthy and safe multi-brand drinking water to our customers’ doorstep with flexible delivery frequency options as per their convenience.</p> 
        </div>
    </div>
</div>