<div class="container" id="conbg">
    <div class="row">
        <div class="col">
            <div class="card card-body border border-5" id="card1">
                <div>
                    <h1 class="catt"><u>Cattegories </u></h1><br>
                    <input type="checkbox" value="litt" />&nbsp;&nbsp;300 ml <br>
                    <input type="checkbox" value="litt" />&nbsp;&nbsp;500 ml <br>
                    <input type="checkbox" value="litt" />&nbsp;&nbsp;600 ml <br>
                    <input type="checkbox" value="litt" />&nbsp;&nbsp;1 litter<br>
                    <input type="checkbox" value="litt" />&nbsp;&nbsp;2 litter<br>
                    <input type="checkbox" value="litt" />&nbsp;&nbsp;5 litter<br>
                    <input type="checkbox" value="litt" />&nbsp;&nbsp;10 litter<br>
                    <input type="checkbox" value="litt" />&nbsp;&nbsp;20 litter<br>
                </div>

                <div><br>
                    <h1><b><u>Products</u></b></h1><br>
                    <input type="radio" name="Product" />&nbsp;&nbsp;Go Green<br>
                    <input type="radio" name="Product" />&nbsp;&nbsp;Bisleri<br>
                    <input type="radio" name="Product" />&nbsp;&nbsp;perrier<br>
                    <input type="radio" name="Product" />&nbsp;&nbsp;AQUAFINA<br>
                    <input type="radio" name="Product" />&nbsp;&nbsp;Kinly<br>
                    <br>
                    <p><b>Money Range</b></p>
                    <br>
                    <input type="range" min="30" max="200" step="10" />

                </div>
                <button type="button" class="btn btn-info">Apply</button>
            </div>
        </div>
        <div class="col">
            <div class="row mt-4"></div>
            <div class="row mt-4"></div>
            <div class="row">
                <div class="col-1">
                    <div class="row">
                        <div class="col">
                            <div class="card card-body border border-5" id="card2">
                                <img src="../ASSERTS/Images/kingfisher-20liter-250x3001-1.png" />
                            </div>
                        </div>
                        <!-- <div class="col"></div> -->
                        <div class="col" id="infomsg">
                            <h3>Kinley 20 Litre jar Packaged Drinking Water</h3>
                            <div class="row mt-4">
                                <div class="col-3" id="offer">Offer</div>
                                <div class="col-4" id="price">Price</div>
                                <!-- <div class="col"></div>
                                <div class="col"></div> -->

                            </div>
                            <div class="row mt-4">
                                <div class="col" id="cost1"><span id="offermsg">60</span></div>
                                <div class="col" id="cost2"><span id="pricemsg">80</span></div>
                                <div class="col"></div>
                                <div class="col"></div>


                            </div>
                            <div class="row mt-4">
                                <div class="col-1">
                                    <button type="button" class="btn btn-dark btn-m" id="inc"
                                        onclick="onincrement()">+</button>
                                </div>
                                <div class="col-2">
                                    <input type="text" value="1" class="form-control text-center text-dark"
                                        id="count" />
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-dark btn-m" id="dec"
                                        onclick="ondecrement()">-</button>
                                </div>
                            </div>
                            <br>
                            <a href="B-PaymentPage.html"><button type="button" class="btn btn-success">Buy
                                    Now</button></a>
                            <br>
                            <br>
                            <h4>Product Info :</h4>
                            <article>The 20 litre pack is ideal for home and office use and gives you great value for
                                money. In terms of its usage, hygiene is best maintained with the push tap and stand
                                mechanism.</article>

                            <h6 class="text-danger">INR 250 refundable deposit will be charged per jar if you do not
                                have 20 Ltr empty jar for exchange.</h6>

                        </div>

                    </div>
                    <div class="col">
                        <marquee>Best Quality & Price in this Industries</marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
