<div class="container mt-4">
  <div class="row">
    <div class="col-3"></div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../../assets/images/transport/van2.webp" id="delvan">
    </div>
    <!-- <div class="col"></div> -->
    <!-- <div class="col mt-4" id="location">
      <mat-card>
        <h1 class="areas">Our servised Areas</h1>
        <button mat-raised-button color="accent" class="mt-4">Tambaram</button>
        <button mat-raised-button color="accent" class="mt-2">Guindy</button>
        <button mat-raised-button color="accent" class="mt-2">Avadi</button>
        <button mat-raised-button color="accent" class="mt-2">Chengalpattu</button>
        <button mat-raised-button color="accent" class="mt-2">Kanchipuram</button>
      </mat-card>
    </div> -->
    <div class="col">
      <img src="../../../assets/images/transport/company-delivery-drinking-clean-water-.webp" id="del"/>
      
    </div>
  </div>
  <div class="col mt-4" id="location">
    <!-- <h1 class="areas">Our servised Areas</h1> -->
    <mat-card>
      <mat-card-title class="areas">Our servised Areas</mat-card-title>
      <br>
      <button mat-raised-button color="accent" class="mt-4">Tambaram</button>
      <button mat-raised-button color="accent" class="mt-2">Guindy</button>
      <button mat-raised-button color="accent" class="mt-2">Avadi</button>
      <button mat-raised-button color="accent" class="mt-2">Chengalpattu</button>
      <button mat-raised-button color="accent" class="mt-2">Kanchipuram</button>
    </mat-card>
  </div>
</div>
<nav>
  <h1 class="delindust">Ours Delivery Industries</h1>
</nav>



<div [@scrollAnimation]="images">
  <img *ngFor="let image of images" [src]="image" alt="Image" class="marquee">
</div>
<!-- <div class="row"></div> -->
<!-- <div>
    <img src="../../../assets/images/delivery industries/air-lines-mineral-water-suppliers.jpg"/>
    <img src="../../../assets/images/delivery industries/bpo-sectors-mineral-water-suppliers.jpg"/>
    <img src="../../../assets/images/delivery industries/catering-mineral-water-suppliers.jpg"/>
    <img src="../../../assets/images/delivery industries/g1-2.jpg"/>
    <img src="../../../assets/images/delivery industries/g2-2-1.jpg"/>
    <img src="../../../assets/images/delivery industries/g2-3.jpg"/>
    <img src="../../../assets/images/delivery industries/it-sectors-mineral-water-suppliers.jpg"/>
    <img src="../../../assets/images/delivery industries/logistics-mineral-water-suppliers.jpg"/>
    <img src="../../../assets/images/delivery industries/residences-mineral-water-suppliers.jpg"/>
    <img src="../../../assets/images/delivery industries/air-lines-mineral-water-suppliers.jpg"/>
  </div> -->