<body>
    <nav class="nav navbar-expand-lg navbar-light bg-info" id="navbar" >
        <div class="container">
            <h1 class="text-center" id="h1">Daily Water Enterprises</h1>
            <img src="../ASSERTS/Images/Book-Paani-Online-Logo-300x60.png" id="paani" />
            <div class="collapse navbar-collapse" id="titles">
                <img src="../ASSERTS/Images/logout/thiru.gif" id="thiru"/>
                <img src="../ASSERTS/Images/logout/company.png" id="logo"/>
                <img src="../ASSERTS/Images/logout/catteg.png" id="catteg"/>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#titles" aria-controls="titles"
            aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggler-icon bg-danger"></span></button>
         <div class="collapse navbar-collapse" id="titles">
            <ul class="navbar-nav ms-auto" id="ul">
                <li class="nav-item"><a href="F-Home.html" class="nav-link">
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-home"></i>&nbsp; Home</button>
                    </a></li>
                <li class="nav-item"><a href="F-About Us.html" class="nav-link">
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-bullhorn"></i>&nbsp;About Us</button>
                    </a></li>
                    <li class="nav-item">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="register" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-check-square-o"></i>&nbsp;
                          Register
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="register">
                          <li><a class="dropdown-item" href="F-GeneralMember.html">General Member</a></li>
                          <li><a class="dropdown-item" href="F-PremiumMember.html">Premium Member</a></li>
                        </ul>
                    </li>
                <li class="nav-item"><a href="F-OfferZone.html" class="nav-link">
                     <button type="button" class="btn btn-dark">
                        <i class="fa fa-gift"></i>&nbsp;Offer Zone</button>
                    </a></li>
                <li class="nav-item"><a href="F-Shopping.html" class="nav-link">
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-shopping-bag"></i>&nbsp;Shoppping</button>
                    </a></li>
                <li class="nav-item"><a href="F-Contact Us.html" class="nav-link">
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-phone"></i>&nbsp;Contact Us</button>
                    </a></li>
                    <li class="nav-item" id="account">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="account" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-address-book"></i>&nbsp;
                        Account
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="account">
                        <div class="card card-body border border-4">
                            <div class="card-title text-center"><u><b>User Details</b></u></div>
                            
                            <div class="row">
                                <div class="col text-center">
                                <i class="fa fa-user-circle-o"></i>&nbsp;
                                 <a href="F-Profile.html"><label id="uprofile">Profile</label></a>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col text-center">
                                <i class="fa fa-bar-chart" ></i>&nbsp;
                                <a href="F-UserReport.html"><label id="ureport">Reports</label></a>
                               </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col text-center">
                                <i class="fa fa-plane" ></i>&nbsp;
                                <a href="F-ServicePage.html"><label id="uservice">Services</label></a>
                               </div>
                            </div>
                        </div>
                    </ul>
                     
                    </li>
                     <li class="nav-item"><a href="F-Logout.html" class="nav-link">
                        <button type="button" class="btn btn-danger">
                            <i class="fa fa-power-off"></i>
                        </button>
                         </a></li>
            </ul>
        </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="form-group border border-5" id="formbg">
            <h1 class="text-center">General Membership</h1>
            <div class="card card-body border border-5" style="width: 600px;" id="card">
                <div class="row mt-4">
                    <div class="col-3">
                      <label>Select Your Membership :</label>
                     </div>
                     <div class="col-6">
                        <select class="form-control text-center option" value="Select AnyOne" name="membership" [(ngModel)]="membership" >
                            <option selected>Select AnyOne...</option>
                            <option class="text-primary" >General</option>
                            <option class="text-primary" >Premiun</option>
                        </select>
                     </div>
                   </div>
                <div class="row mt-4">
               <div class="col-3">
                 <label>Your Name :</label>
                </div>
                <div class="col-6">
                   <input type="text" class="form-control" name="yourname" [(ngModel)]="yourname" />
                   <span class="fa fa-info-circle errspan" id="circle"></span>
                   <span class="fa fa-check-circle" id="circle"></span>
                   <span><small id="namemsg"></small></span>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-3">
                  <label>Mobile Number :</label>
                 </div>
                 <div class="col-6">
                    <input type="text" class="form-control" name="mobnum" [(ngModel)]="mobnum"/>
                    <small id="mobmsg"></small>
                 </div>
               </div>
               <div class="row mt-4">
                <div class="col-3">
                  <label>Email Id :</label>
                 </div>
                 <div class="col-6">
                    <input type="text" class="form-control" name="email" [(ngModel)]="email"/>
                 </div>
               </div>
               <div class="row mt-4">
                <div class="col-3">
                  <label>Gender :</label>
                 </div>
                 <div class="col">
                    <input type="radio" name="gender" value="Male" [(ngModel)]="male"/> Male
                 </div>
                 <div class="col">
                    <input type="radio" name="gender" value="Female" [(ngModel)]="female"/> Female
                 </div>
                 <div class="col">
                    <input type="radio" name="gender" value="Others" [(ngModel)]="others"/> Others
                 </div>
               </div>
               <div class="row mt-4">
                <div class="col-3">
                  <label>Location :</label>
                 </div>
                 <div class="col">
                    <input type="checkbox" name="Home" [(ngModel)]="Home"/> Home
                 </div>
                 <div class="col">
                    <input type="checkbox"  name="Apartment" [(ngModel)]="Apartment"/> Appartment
                 </div>
                 <div class="col">
                    <input type="checkbox" name="Office" [(ngModel)]="Office"/> Office
                 </div>
               </div>
               <div class="row mt-4">
                <div class="col-3">
                  <label>Is joined on :</label>
                 </div>
                 <div class="col-6">
                    <input type="date" class="form-control" name="joindate" [(ngModel)]="joindate" />
                    <span><small id="joinmsg"></small></span>
                 </div>
               </div>
               <div>
               <div class="row mt-4">
                <div class="col-3">
                  <label>Home Address :</label>
                 </div>
                 <div class="col-6">
                    <textarea type="addr" class="form-control" name="homeaddr" [(ngModel)]="homeaddr"></textarea>
                    <span><small id="homemsg"></small></span>
                 </div>
               </div>
               </div>
               <div>
               <div class="row mt-4">
                <div class="col-3">
                  <label>Apartment Address :</label>
                 </div>
                 <div class="col-6">
                    <textarea type="addr" class="form-control" name="aparmentaddr" [(ngModel)]="aparmentaddr"></textarea>
                    <span><small id="apartmsg"></small></span>
                 </div>
               </div>
               </div>
               <div>
               <div class="row mt-4">
                <div class="col-3">
                  <label>Office Address :</label>
                 </div>
                 <div class="col-6">
                    <textarea type="addr" class="form-control" name="officeaddr" [(ngModel)]="officeaddr"></textarea>
                    <span><small id="officemsg"></small></span>
                 </div>
               </div>
               </div>
               <br>
        <p><b>*</b> General Membership is <u><b>Ontime Delivery</b></u>  and <u><b>General Mineral Water.</b></u> </p>

               <br>
               
               <div class="row mt-4">
               <div class="col">
                <input type="checkbox" id="terms" required/> Agree the Terms and Conditions
               </div>
               <div class="col">
                <button type="button" class="btn btn-warning" (click)="Edit()">Reset</button>
               </div>
               <div class="col">
                <button type="submit" class="btn btn-success" (click)="submitData()">Submit</button>
               </div>
            </div>
         </div>
        </div>
    </div>