<body>
    <div class="container">
        <div class="form-group border border-5" id="formbg">
            <h1 class="text-center">Premium Membership</h1>
            <div class="card card-body border border-5" style="width: 600px;" id="card">
            <div class="row mt-4">
                <div class="col-3">
                    <label>Your Name :</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="yourname" [(ngModel)]="yourname" />

                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <label>Mobile Number :</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="mobnum" [(ngModel)]="mobnum" />
                    <small id="mobmsg"></small>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <label>Email Id :</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="email" [(ngModel)]="email" />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <label>Gender :</label>
                </div>
                <div class="col">
                    <input type="radio" name="gender" value="male" [(ngModel)]="male" /> Male
                </div>
                <div class="col">
                    <input type="radio" name="gender" value="female" [(ngModel)]="female" /> Female
                </div>
                <div class="col">
                    <input type="radio" name="gender" value="others" [(ngModel)]="others" /> Others
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <label>Location :</label>
                </div>
                <div class="col">
                    <input type="checkbox" name="Home" value="Home" [(ngModel)]="Home" /> Home
                </div>
                <div class="col">
                    <input type="checkbox" name="Apartment" value="Apartment" [(ngModel)]="Apartment" /> Appartment
                </div>
                <div class="col">
                    <input type="checkbox" name="Office" value="Office" [(ngModel)]="Office" /> Office
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <label>Is joined on :</label>
                </div>
                <div class="col-6">
                    <input type="date" class="form-control" name="joindate" [(ngModel)]="joindate" />
                    <span><small id="joinmsg"></small></span>
                </div>
            </div>
            <div>
                <div class="row mt-4">
                    <div class="col-3">
                        <label>Home Address :</label>
                    </div>
                    <div class="col-6">
                        <textarea type="addr" class="form-control" name="homeaddr" [(ngModel)]="homeaddr"></textarea>
                        <span><small id="homemsg"></small></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="row mt-4">
                    <div class="col-3">
                        <label>Apartment Address :</label>
                    </div>
                    <div class="col-6">
                        <textarea type="addr" class="form-control" name="aparmentaddr"
                            [(ngModel)]="aparmentaddr"></textarea>
                        <span><small id="apartmsg"></small></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="row mt-4">
                    <div class="col-3">
                        <label>Office Address :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="officeaddr" [(ngModel)]="officeaddr" />
                        <textarea type="addr" class="form-control" name="officeaddr"
                            [(ngModel)]="officeaddr"></textarea>
                        <span><small id="officemsg"></small></span>
                    </div>
                </div>
            </div>
            <br>
            <p><b>*</b> General Membership is <u><b>Ontime Delivery</b></u> and <u><b>General Mineral Water.</b></u>
            </p>

            <br>

            <div class="row mt-4">
                <div class="col">
                    <input type="checkbox" id="terms" required /> Agree the Terms and Conditions
                </div>
                <div class="col">
                    <button type="button" class="btn btn-warning" (click)="Reset()">Reset</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success" (click)="submitData()">Submit</button>
                </div>
            </div>
        </div>
    </div>
