#card{
    margin-left: 250px;
    // background-image: url('../../../assets/images/User/');
    background-repeat: no-repeat;
    background-size: cover;
}
#formbg{
    background-color: rgb(104, 104, 104);
}
#circle {
float: right;
margin-right: 6px;
margin-top: -30px;
position: relative;
z-index: 2;
color: red;
}