.dailyh1{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 204);

}
.procard{
    width: 3rem;
    height: 5rem;
    background-color: aqua;
}