<h1 class="dailyh1 mt-4">Daily Orders</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <form class="form border b-5 bg-warning">
                <div class="row">
                    <div class="col procard" >
                        <mat-card >

                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-label>Product name</mat-label>
                        {{proname}}
                    </div>
                    <div class="col">
                        <mat-label>Quantity</mat-label>
                        {{quantity}}
                    </div>
                    <div class="col">
                        <mat-label>Address</mat-label>
                        {{address}}
                    </div>
                    <div class="col">
                        <mat-label>Payment Status</mat-label>
                        {{proname}}
                    </div>
                    <div class="col">
                        <mat-label>Delivery Date</mat-label>
                        {{delDate}}
                    </div>
                    <div class="col">
                        <mat-label>Delivery Status</mat-label>
                        {{delStatus}}
                    </div>
                    <div class="col">
                        <button mat-button color="primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>