.card{
    display: flex;
    position: relative;
    max-width: 300px;
    max-height: 200px;
}
.Offer{
    color: rgb(25, 29, 253);
    font-size: 250%;
    font-weight: bolder;
}
.sploffer{
    position: absolute;
    width: 50%;
    margin-left: 13rem;
    margin-top: -5rem;
}
.sploffer1{
    position: absolute;
    width: 50%;
    margin-left: 13rem;
    margin-top: -5rem;
}
