mat-card{
    width: 300px;
}
form{
  width: 40rem;
  background-color: aqua;
}
mat-form-field{
  width:30rem;
  margin: 0% 10%;
  display: flex;
}
.row{
  justify-content: center;
}
.check{
  margin: 0% 10%;
}
p{
  margin: 0% 10%;
}