<!-- 
<mat-toolbar class="tool" color="primary">
    
    <span><mat-icon>menu</mat-icon>DailyWater Enterprises</span>
    <span style="margin-left: 700px;">
    <button mat-icon-button><mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <button mat-icon-button><mat-icon >settings</mat-icon></button>
    <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
    <button mat-icon-button><mat-icon>power_settings_new</mat-icon></button></span>
</mat-toolbar>


<mat-sidenav-container class="sidenav">
    <mat-sidenav opened>
        <mat-nav-list style="width: 300px;height: 600px;">
            <a mat-list-item ><mat-icon >dashboard</mat-icon>Dashboard</a>
            <a mat-list-item><mat-icon>volume_up</mat-icon>About Us</a>
            <a mat-list-item><mat-icon>assignment_turned_in</mat-icon>Register</a>

            <a mat-list-item><mat-icon> favorite</mat-icon>Offer Zone</a>
            <a mat-list-item><mat-icon> local_grocery_store</mat-icon>Shopping Cart</a>
            <a mat-list-item><mat-icon> local_shipping</mat-icon> Servises</a>
            <a mat-list-item><mat-icon>call</mat-icon> Contact Us</a>
            <a mat-list-item><mat-icon>exit_to_app</mat-icon> Logout</a>

            <a mat-list-item><mat-icon style="margin-top: 10px;">help</mat-icon>&nbsp;24/7-Help</a>


        </mat-nav-list>
    </mat-sidenav>
   
</mat-sidenav-container>
 -->
