<div id="bg">
    <div class="row mt-4">
        <h1 class="text-center animate_animated animate_bounce animate_infinite" id="h1">Daily Water Enterprises</h1>
        <h4 class="text-primary" id="h4">No: 27/6, Valmiki Street, <br>
            Tambaram East, Chennai - 600059 <br>
            (Next to Priyam Clinic & Near to Gandhi Park)</h4>
            <img src="../../../assets/images/User/catteg.png" id="catteg"/>
    </div>
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                <form #signupForm="ngForm">
                <!-- <form> -->
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" placeholder="User name" class="option" name="username" [(ngModel)]="username">
                    <input type="text" placeholder="Mobile Number" [(ngModel)]="mobnum" name="mobnum" class="option">
                    <input type="text" placeholder="E-mail" class="option" [(ngModel)]="email" name="email">
                    <select class="form-control text-center option" value="Select AnyOne" name="designation" [(ngModel)]="designation" >
                        <option selected>Select AnyOne...</option>
                        <option class="text-primary" >User</option>
                        <option class="text-primary" >Admin</option>
                    </select>
                    <input type="password" placeholder="Password" [(ngModel)]="password" name="password" class="option" required="">
                    
                    <button type="submit" (click)="signUpuser()">Sign up</button>
                    {{signupMsg}}
                    <h6 class="text-center text-white">If Existing User Click <b class="text-danger">Login</b> Button </h6>

                </form>
            </div>
            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <div class="row radio">
                        <div class="col-2"></div>
                        <div class="col">
                            <input type="radio" name="radio" value="User" [(ngModel)]="selectedUserType"  /> <b> User</b>
                        </div>
                        <div class="col">
                            <input type="radio" name="radio" value="Admin" [(ngModel)]="selectedUserType" /> <b class="text-danger">Admin</b>
                        </div>
                    </div>
                    
              
                    <input type="text" placeholder="Username or E-mail" class="option" name="username" [(ngModel)]="username">
                    <input type="password" placeholder="Password" class="option" name="password" [(ngModel)]="password">
                    <div><span>{{msg}}</span></div>
                    <input type="checkbox" class="text-center check"/> Apply Terms & Conditions
                    <button type="button" (click)="getLogin()">Login</button>
                    
                    <h6 class="text-center">Forgot Password..?</h6>
                    
                        <h6 class="text-center">Click <b class="text-danger"> SignUp</b> for Create New Account </h6>
                    
                </form>
            </div>

    </div>
    <br>
    <br>
    <br>
</div>