<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <mat-card class=" card1">
                <mat-card-header>Gowtham</mat-card-header>
                <mat-card class="bg-success card2">
                    <mat-card-header>GsiX</mat-card-header>
                    <div class="row">
                        <div class="col-5">
                            <mat-card class="bg-primary card3">
                                <mat-card-header>Go</mat-card-header>
                            </mat-card>
                        </div>
                        <div class="col">
                            <h1>Product Details</h1>
                            <div class="row">
                                <label id="proname">20 Litter Jar</label>
                            </div>
                            <div class="row mt-4">
                                <div class="col quantity">Quantity :</div>
                                <div class="col amount"><span id="quantitymsg">2</span></div>
                            </div>
                            <div class="row mt-2">
                                <div class="col quantity"><label>Price :</label></div>
                                <div class="col amount"><span id="pricemsg">100</span></div>
                            </div>
                            <div class="row mt-4"></div>
                            <div class="row mt-4"></div>
                            <div class="row mt-4"></div>
                            <div class="row">
                                <marquee><b class="text-info">Best Price </b> in Industries</marquee>
                            </div>

                        </div>
                    </div>

                </mat-card>
                <h1>Delivery Details </h1>
                <mat-form-field>
                    <mat-label>Full name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Select Location :
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-radio-button value="home">Home</mat-radio-button>
                                </mat-expansion-panel-header>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <textarea matInput placeholder="Enter Home Address..." class="addr"></textarea>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </mat-expansion-panel>
                        </div>
                        <div class="col">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-radio-button value="home">Apartment</mat-radio-button>
                                </mat-expansion-panel-header>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <textarea matInput placeholder="Enter Apartment Address..."
                                            class="addr"></textarea>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </mat-expansion-panel>
                        </div>
                        <div class="col">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-radio-button value="home">Office</mat-radio-button>
                                </mat-expansion-panel-header>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <textarea matInput placeholder="Enter Office Address..."
                                            class="addr"></textarea>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </mat-expansion-panel>
                        </div>
                    </div>
                </mat-expansion-panel>

            </mat-card>
            <mat-expansion-panel class="mt-4">
                <mat-expansion-panel-header>
                    Payment Method
                </mat-expansion-panel-header>
                <div class="row mt-4">
                <div class="col-4">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <label>Wallet
                                <mat-icon>account_balance_wallet</mat-icon>
                            </label>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>UPI Pin Number</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </mat-expansion-panel>

                </div>
                <div class="col">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Online Payments
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Acc Number</mat-label>
                            <input matInput>
                        </mat-form-field><mat-form-field>
                            <mat-label>Pin Number</mat-label>
                            <input matInput>
                        </mat-form-field><mat-form-field>
                            <mat-label>Acc Holder Name </mat-label>
                            <input matInput>
                        </mat-form-field><mat-form-field>
                            <mat-label>Bank Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>IFSC Code</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <button mat-stroked-button class="bg-info">Submit</button>
                    </mat-expansion-panel>
                </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                UPI Payments
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col">
                                    <mat-radio-button value="home">GPay</mat-radio-button>
                                </div>
                                <div class="col">
                                    <mat-radio-button value="home">PhonePay</mat-radio-button>
                                </div>
                                <div class="col">
                                    <mat-radio-button value="home">Paytm</mat-radio-button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                    <div class="col">
                        <button mat-stroked-button class="bg-warning">Cash ON Delivery</button>

                    </div>
                </div>
                <!-- </div> -->
            </mat-expansion-panel>
        </div>
        <div class="col">


        </div>
    </div>
</div>