<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <mat-card class=" card1">
                <mat-card-header>Gowtham</mat-card-header>
                <mat-card class="bg-success card2">
                    <mat-card-header>GsiX</mat-card-header>
                </mat-card>
                <h1>Delivery Details </h1>
                <mat-form-field>
                    <mat-label>Full name</mat-label>
                    <input matInput>
                  </mat-form-field>
                  
            </mat-card>

        </div>
        <div class="col"></div>
    </div>
</div>