<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <mat-card class=" card1">
                <mat-card-header>Gowtham</mat-card-header>
                <mat-card class="bg-success card2">
                    <mat-card-header>GsiX</mat-card-header>
                    <div class="row">
                        <div class="col-5">
                            <mat-card class="bg-primary card3">
                                <mat-card-header>Go</mat-card-header>
                            </mat-card>
                        </div>
                        <div class="col">
                            <h1>Product Details</h1>
                                <div class="row">
                                    <label id="proname">20 Litter Jar</label>
                                </div>
                                <div class="row mt-4">
                                    <div class="col quantity">Quantity :</div>
                                    <div class="col amount"><span id="quantitymsg">2</span></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col quantity"><label>Price :</label></div>
                                    <div class="col amount"><span id="pricemsg">100</span></div>
                                </div>
                                <div class="row mt-4"></div>
                                <div class="row mt-4"></div>
                                <div class="row mt-4"></div>
                                <div class="row">
                                    <marquee><b class="text-info">Best Price </b> in Industries</marquee>
                                </div>
                            
                        </div>
                    </div>
                    
                </mat-card>
                <h1>Delivery Details </h1>
                <mat-form-field>
                    <mat-label>Full name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-label>Select Location :</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="home">Home</mat-radio-button>
                    <mat-radio-button value="apartment">Apartment</mat-radio-button>
                    <mat-radio-button value="office">Office</mat-radio-button>
                </mat-radio-group>
            </mat-card>

        </div>
        <div class="col">

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Personal data
                  </mat-panel-title>
                  <mat-panel-description>
                    Type your name and age
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <mat-form-field>
                  <mat-label>First name</mat-label>
                  <input matInput>
                </mat-form-field>
            
                <mat-form-field>
                  <mat-label>Age</mat-label>
                  <input matInput type="number" min="1">
                </mat-form-field>
            
              </mat-expansion-panel>
        </div>
    </div>
</div>