<div class="container mt-4">
    <div class="row">
    <div class="col-3"></div>
        <div class="col">
              <button mat-raised-button color="primary">Add Location</button>
        </div>
        <div class="col">
              <button mat-raised-button color="accent" class="ml">Add Vehicles</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="../../../assets/images/transport/van2.webp" style="width:28rem;">
        </div>
        <div class="col mt-4">
            <h1 class="areas">Our servised Areas</h1>
            <button mat-raised-button color="accent" class="mt-4">Tambaram</button>
            <button mat-raised-button color="accent" class="mt-2">Guindy</button>
            <button mat-raised-button color="accent" class="mt-2">Avadi</button>
            <button mat-raised-button color="accent" class="mt-2">Chengalpattu</button>
            <button mat-raised-button color="accent" class="mt-2">Kanchipuram</button>

        </div>
        <div class="col">
            <img src="../../../assets/images/transport/company-delivery-drinking-clean-water-.webp">
        </div>
    </div>
    
</div>
