.areas{
    position: absolute;
    margin-top: -1rem;
    margin-left: -3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 2rem;
    color: rgb(0, 4, 255);
}
